@import '../../custom.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

/* BUTTONS */
.all-users-contain button{
    margin: 0 5rem;
}
.btn-primary {
    color: rgba(var(--main-white-rgb), 1);
    background-color: rgba(var(--main-green), 1);
    border-color: rgba(var(--main-green), 1);
}
.btn-primary:hover {
    color: rgba(var(--main-green), 1);
    background-color: var(--main-green-hover);
    border-color: var(--main-green-hover);
}
/* IMAGES */
.container-avatar{
    width: 25%;
}
.container-logo img{
    width: 10%;
}
.container-logo{
    margin-right: -15rem;
}
.container-background-image-clan img{
    position: relative;
    top: 2rem;
}
.logo-clan img{
    width:50%
}
.card-contain-character img{
    width: 75%;
    align-items: center;
    align-content: center;
    margin: auto;
}
.container-allBooks .card-img-top{
    width: 211px;
    height: 345px;
}
.background-clan-contain{
    background-repeat: no-repeat;
    background-size: cover;
}