.global-contain{
  display: flex;
  flex-direction: column;
}
.main-content{
    display: flex;
    flex-direction: column;
    background-image: url("../images/background7.jpg");
    background-size: cover;    
    min-height: 878px;
    background-attachment: fixed;
}
.grid-container{
  min-height: 100%;
}
/* NAV  TOP*/
.nav-contain{
    flex:1;
}
.bg-primary, .bg-info {
  background-color: rgba(0, 73, 22,1) !important;
}
/* MENU LATERAL */
.main-menu-left{
  margin: 2rem 0 0 2rem;
  height: 100%;
}
.col.col-md-auto.menu-left{
  background-color: rgba(0, 73, 22,1);
  min-height: 900px;
}
/* Header & title */
.row.top-main-contain{
  height: 150px;
}
.header-ban-contain{
  flex:1;
}
.title-site-containe{
  flex:1;
  text-align: center;
  padding-top: 3rem;
}
.title-site-containe h3:first{
    margin-top: 10rem;
    text-align: center;
}
.title-site-containe h3.titleBook{
  margin-top: 1rem;
  text-align: center;
}
.top-main-contain{
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: 50%;
}
.title-site-containe{
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: left;
}
/* Contenu principal */
.main-container-app{
  min-height: 500px;
  padding: 5rem;
  
}
.presentation-contain, .presentation-app{
  background-color: rgba(255,255,255, 0.75);
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}
.container-background-image-clan{
  background-size: cover;
}
.main-container{
  display: flex;
}
.col.login-container{
  padding: 1rem;
}
.grid-container{
  display: flex;
  flex-direction: column;
}
.middle-content{
    display: flex;
    flex-direction: column;
}
.top-main-contain{
  height: 250px;  
  width: 100%;
}
.main-app-containe{
  flex:2;
}
.all-users-contain{
  display: flex;
  flex-direction: column;
}
.list-all-user-contain{
  margin: 1rem 2rem;
}
/* Container Characters by Users*/
.contain-all-characters{
  display: flex;
  flex-direction: row;
}
.card{
  margin-bottom: 1rem;
}
.card-characters{
  display: grid;
  flex-direction: row;
}
.container-image-character{
  height: 400px;
}
.list-character-container{
  max-height: 500px;
  overflow-y: scroll;
  
}
/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
  }

  /* Bloc utilisateurs */
  .users-container{
    display: flex;
    flex-direction: row;
  }
  .user-list{
    flex:1;
  }
  .user-details{
    flex: 1;
  }
  .contain-infoUser{
    margin: 1rem;
  }
.login-contain{
  width: 50%;
  height: 50%;
  margin: 5rem auto;
}
  /* Style the footer */
  .footer {
    background-color: rgba(0, 73, 22,1) !important;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer p {
    color: rgba(255,255,255, 1);
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }