.col{
  border: 1px solid #858585;
}
.global-contain{
  display: flex;
  flex-direction: column;
}
.main-content{
    display: flex;
    flex-direction: column;
}
.grid-container{
  min-height: 100%;
}
/* NAV  TOP*/
.nav-contain{
    flex:1;
}
/* MENU LATERAL */
.main-menu-left{
  margin: 2rem 0 0 2rem;
  height: 100%;
}
.col.col-md-auto.menu-left{
  background-color: rgba(0, 73, 22,1);
}
/* Header & title */
.row.top-main-contain{
  height: 300px;
}
.header-ban-contain{
  flex:1;
}
.title-site-containe{
  flex:1;
  text-align: center;
  padding-top: 5rem;
}
.title-site-containe h3:first{
    margin-top: 10rem;
    text-align: center;
}
.title-site-containe h3.titleBook{
  margin-top: 5rem;
  text-align: center;
}
.top-main-contain{
  background-image: url(/static/img/etoile-de-feu.38a8180.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: left;
}
/* Contenu principal */
.main-app-containe{
  margin: 1rem;
}
.col.login-container{
  padding: 1rem;
}
.grid-container{
  display: flex;
  flex-direction: column;
}
.middle-content{
    display: flex;
    flex-direction: column;
}
.top-main-contain{
  height: 250px;
}
.main-app-containe{
  flex:2;
}
.all-users-contain{
  display: flex;
  flex-direction: column;
}
.list-all-user-contain{
  margin: 1rem 2rem;
}
/* Container Characters by Users*/
.list-character-container{
  max-height: 500px;
  overflow-y: scroll;
  
}
/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
  }

  /* Bloc utilisateurs */
  .users-container{
    display: flex;
    flex-direction: row;
  }
  .user-list{
    flex:1;
  }
  .user-details{
    flex: 1;
  }
  .contain-infoUser{
    margin: 1rem;
  }

  /* Style the footer */
  .footer {
    background-color: #858585;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }