@import '../../custom.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    overflow-x: hidden;
}
li{
    list-style-type: none;
    font-size: 12px;
}