@import 'variables.scss';
.user-list ul li{
    text-align: left;
}
.user-personnal-info {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.main-menu-left .nav-link{
    color: rgba(255,255, 255, 1)

}
.nav-link a{
    color: rgba(255,255, 255, 1);
}