@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');
.user-list ul li{
    text-align: left;
}
.user-personnal-info {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.main-menu-left .nav-link, .nav-contain a{
    color: rgba(255,255, 255, 1)
}
.nav-contain .dropdown-item a{
    color: rgba(0, 73, 22,1)
}
.nav-link a{
    color: rgba(255,255, 255, 1);
}
.title-site-containe h3{
    color: rgba(255,255, 255, 1); 
}
.presentation-text{
    text-align: justify;
}
.main-container-app p{
    text-align: center;
}
.presentation-app p{
    text-align: justify;
}
.title-site-containe h3{
    font-family: 'Spectral SC', serif;
    font-size: 38px;
}
.title-site-containe h3.titleBook{
    font-size: 48px;
    font-weight: 400;
}
.fiche-personnage span{
    font-weight: 600;
}
.fiche-personnage p{
    text-align: left;
}
p.presentation-text{
    text-align: justify;
}
.contain-infoUser p{
    text-align: left;
}