@import '../../custom.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap');

/* TITRE */
.title-site-containe h3{
    
    color: rgba(var(--main-white-rgb), 1);
    font-family: var(--main-title-font);
    font-size: 60px;
    text-shadow: var(--main-shadow);
}
.title-site-containe h3.titleBook{
    font-size: 80px;
    font-weight: 400;
    text-shadow: var(--main-shadow);
}
.title-site-containe h3:first{
    margin-top: 10rem;
    text-align: center;
}
.title-site-containe h3.titleBook{
    margin-top: 1rem;
    text-align: center;
}
.card-text.container-title-book h2{
    overflow-wrap: break-word;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}
.title-character-name h4.card-title{
    font-size: 38px;
}
/* PARAGRAGPHE */
.user-personnal-info {
    font-family: var(--main-font);
    font-size: 14px;
}
.presentation-text, .presentation-app p, p.presentation-text, .presentation-contain, .presentation-paragraph-contain{
    text-align: justify;
}
.user-personnal-info, .fiche-personnage p, .contain-infoUser p{
    text-align: left;
}
.fiche-personnage span{
    font-weight: 600;
}
.presentation-paragraph-contain{
    padding: 1rem;
    font-size: 18px;
}
.author-span{
    font-weight: 600;
}
/* LIENS */
.main-menu-left .nav-link, .nav-link a, .nav-contain a{
    color: rgba(var(--main-white-rgb), 1);
    font-size: 14px;
    font-family: var(--main-font);

}
.nav-contain .dropdown-item a{
    color: rgba(var(--main-green), 1);
}

/* LIST & OTHERS */
.user-list ul li{
    text-align: left;
}